{% extends "layout.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">🎧 Flash Cards</h1>

    <div class="mb-4">
      <a href="{{ url_for('index') }}" class="button is-link">
        <span class="icon"><i class="bi bi-arrow-left"></i></span>
        <span>Return to Vocabulary List</span>
      </a>
      <a href="{{ url_for('create_flashcard') }}" class="button is-primary">
        <span class="icon"><i class="bi bi-plus"></i></span>
        <span>Create New</span>
      </a>
    </div>

    <div class="columns is-multiline">
      {% for card in cards %}
        <div class="column is-one-third">
          <div class="card">
            <a href="{{ url_for('view_flashcard', card_id=card.ID) }}">
              <div class="card-content">
                <p class="subtitle is-7">Translation Preview</p>
                <div class="content">
                  {% for line in card.TRANSLATION.split('\n')[:5] %}
                    {{ line }}<br>
                  {% endfor %}
                </div>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
